# From https://raw.githubusercontent.com/github/gitignore/master/C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# From https://raw.githubusercontent.com/github/gitignore/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Existing
firework
manext
newdemo
newtest
ptest
rain
sdltest
testcurs
tuidemo
worm
xmas
*.sho
Makefile
config.h
config.log
config.status
PDCurses.md
xcurses-config
win32a.gif
win32a.htm
*.bat
clock.c
clock1.c
fullscrn.c
hello
hello.c
win32a/wcr*
win32a/wct*
win32a/wc_*
win32a/wcw*
win32a/z*
win32a/scr2html.c
win32a/newtest*
win32a/*.sav
win32a/*.def
win32/*.def
*.map
m
build/*
*.bak
